.backgroundimg {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}
.body {
  height: 100dvh
}
.body > .logo {
  position: absolute;
  top: 0;
  left: 0
}
.body > .logo img {
  height: 40px
}

