.videogame {
  width: 180px;
  height: 180px;
  background-color: #fff;
  box-shadow: var(--light-shadow);
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center
}
.videogame .imgloaded {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.videogame img {
  width: 92%;
  height: 88%;
  border-radius: 10px
}
.verticalvg {
  width: 180px;
  height: 280px
}
.verticalvg.videogame img {
  height: 95%;
  width: 90%
}