.rskeletonimg {
  animation: skeleton 2.2s infinite;
  width: 100px;
  height: 100px;
  background-color: rgb(238, 238, 238);
  border-radius: 50%
}
@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1
  }
}